---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
		<h1>Woooo about us page</h1>
        <h2>Testing out working with Astro, not a big fan of how it strays from React - in a sense that I am so used to making custom components vs this... lol</h2>
        <p>Also some Emmet shortcuts don't work, RIP. GIVE ME BACK REACT AAAAAAAAAAAAAAAAAAAAAAAAA</p>
	</body>
</html>
